html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#posterlens-container {
    height: 600px;
    margin-top: 10px !important;
}
#posterlens-container canvas {
    height: 100% !important;
}

.pl_modal-wrapper {
    transition: opacity 0.2s linear;
    width: calc(100% - 10px);
    height: 100%;
    position: fixed;
    top: 0;
    padding: 5px;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.pl_modal-inner {
    display: flex;
    height: calc( 100vh - 100px );
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.pl_modal-body { height: 100%; } 
.pl_modal-body iframe {
    width: 100%;
    max-width: 2000px;
    height: 100%;
} 
.pl_modal-title {

}
/*.modal {
    transition: opacity 0.5s linear;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background:rgba(0,0,0,0.5);
}
.modal.open {
    opacity: 1;
    display: block;
}
.modal iframe {
    width: 100%;
    max-width: 2000px;
    height: 100%;
} */


.pl_tooltip {
    background: gray;
    padding: 5px 15px;
    transform: translate(10px, 10px);
}